.people-container {
    position: relative;
    height: 100vh;  

    img {
    position: absolute;
    height: auto;
    bottom: 0;
      
      &.jon {
        width: clamp(100px, 30vw, 30vw);
        left: calc(50% - 35vw);
        z-index: 2;
      }
      
      &.barbara {
        width: clamp(100px, 37vw, 37vw);
        left: calc(50% - (42vw / 2));
        z-index: 3;
      }
      
      &.guillermo {
        width: clamp(100px, 30vw, 30vw);
        left: 50%;
        z-index: 2;
      }      
    }
}
  

  