nav {
  z-index: 9999 !important;
}

#full_menu {
  transition: ease-in .3s;

  .fibra-optica {
    transition: ease-in-out .9s;
    opacity: 1;
    bottom: 0;
    position: relative;
  }

  &.is-disabled {
    pointer-events: none;
    opacity: 0;
    .fibra-optica {
      bottom: -5%;
      opacity: 0;
    }
  }
}


.is-disabled  {
  pointer-events: none;
  opacity: 0;
}
