#nosotros {
    height: 130vh !important;
    
    .container .calculate {
        width: clamp(270px, 50vw, 700px);
    }
}

.earth-nosotros {
    animation-name: rotationNoTraslation;
    animation-duration: 180s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotationNoTraslation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}